@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Trade+Winds&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Trade+Winds&display=swap'); */

:root {
  --ac: #67eeee;
}

.bodyClass {
  background: radial-gradient(circle, #1b1b1b, #070707);
  font-family: "Fredoka", sans-serif;
  color: white; /* You can adjust this as needed */

     /* add scroll bar custom too */
     scrollbar-width: thin;
     scrollbar-color: #67eeee #202020;
     scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 12px;
  background-color: #202020;

}

::-webkit-scrollbar-thumb {
  background-color: #67eeee;
  border-radius: 10px;
}


.h1 {
  font-family: "Trade Winds", system-ui;
  color: var(--ac) !important;

}

Button {
  background-color: var(--ac) !important; 
  color: black !important; /* Neon cyan text color */
  border: none !important; /* Border with neon cyan color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Change cursor to pointer */
  transition: all 0.3s ease; /* Smooth transition for effects */
  text-align: center; /* Center align text */
  font-family: "Source Code Pro", monospace;
  font-weight: bold !important;

}

Button:hover {
  color: white; /* Change text color to white on hover */
  background-color: #eee !important; 
  filter: blur(2px); /* Add blur effect on hover */
}

Button:active {
  background-color: #67eeee; /* Change background color to brighter cyan when clicked */
  color: white; /* Change text color to white when clicked */
  transform: scale(0.95); /* Slightly scale down button when clicked */
}

